-# Turbo Stream : remplace l'ancienne carte par la nouvelle recette (UC2)
= turbo_stream.replace "menu_recipe_#{@old_menu_recipe.id}" do
  = render "menus/menu_recipe_card", menu_recipe: @menu_recipe, menu: @menu
