- content_for :title, "Modifier l'ingrédient"

.page-container
  .page-header
    %h1 Modifie ton ingrédient
    = link_to "← Retour", ingredients_path, class: "btn-link"

  .form-container
    = render "form", ingredient: @ingredient
