-# Turbo Stream : insère la recette avant le slot d'ajout (depuis MenuRecipesController)
= turbo_stream.before "add_slot" do
  = render "menus/menu_recipe_card", menu_recipe: @menu_recipe, menu: @menu
