-# Turbo Stream : ajoute la recette au menu brouillon (depuis MenuRecipesController)
= turbo_stream.append "menu_recipes_list" do
  = render "menus/menu_recipe_card", menu_recipe: @menu_recipe, menu: @menu
