-# Turbo Stream : met à jour la carte après modification du nombre de personnes
= turbo_stream.replace "menu_recipe_#{@menu_recipe.id}" do
  = render "menus/menu_recipe_card", menu_recipe: @menu_recipe, menu: @menu
